<%provide(:login,"hey")%>
<div class="container_login">
  <div class="login">
    <h1>Login</h1>
    <form method="post" action="/signinin">
      <p><input type="text" name="name" value="" placeholder="Username"></p>
      <p><input type="password" name="password" value="" placeholder="Password"></p>
      <p class="submit"><input type="submit" name="commit" value="Login"></p>
    </form>
  </div>
</div>
