<%=render('shared/errors',object:@user) unless @user.nil?%>
<div class="container_login sign">
  <div class="login">
    <h1>Sign Up</h1>
    <form method="post" action="/signupup">
      <p><input type="text" name="email" value="" placeholder="Email"></p>
      <p><input type="text" name="name" value="" placeholder="Username"></p>
      <p><input type="password" name="password" value="" placeholder="Password"></p>
      <p><input type="password" name="password_confirmation" value="" placeholder="Password Confirmation"></p>
      <p class="submit"><input type="submit" name="commit" value="Sign Up"></p>
    </form>
  </div>
  <!--<div class="login-help"> will do later
    <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
  </div>-->
</div>