<div class="container_login post">
  <div class="login">
    <h1>Top it</h1>
    <form method="post" action="/postit">
      <p><input type="text" name="title" value="" placeholder="Title"></p>
      <p><input type="text" name="tags" value="" placeholder="Tags"></p>
      <p class="submit"><input type="submit" name="commit" value="post"></p>
    </form>
  </div>
</div>
<div class="main_content post" style="display:none">
	<div class="minipost_form" style="display:none">
	<p><input type="text" name="name" value="" placeholder="name..."></p><span><i class="icon-link"></i><i class="icon-bold"></i><i class="icon-italic"></i></span>
	<p><textarea name="content" value="" placeholder="Description..."></textarea></p>
     <input type="file" name="password" value="image">
</div>
	<i class="btn icon-magic">Add</i>
	<i class="btn icon-signal disabled">stats</i>
</div>
