@import "bootstrap";
@import "font-awesome";
body{
	background-color: #81DAF5;
	overflow-y:scroll; 
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.username_dropdown{
	position: fixed;
	width:100px;
	height:35px;
	background-color:#000; 
	z-index: 1001;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	text-align: center;
	.option{
		position: relative;
		top: 5px;
		width: inherit;
		text-align: center;
		color: #fff;
		border-bottom: #000;
	}
	&:before{
        content: ' ';
  display: block;
    position: absolute;
    z-index:0;
    left: 40px;
    top: -9px;
    width: 18px;
    height: 18px;
	border-color: rgba(208,213,203,0.5);
    border-width: 1px;
    border-style: none none solid solid;
    background-color: #333;
    transform: rotate(132deg);
    -webkit-transform: rotate(132deg);
    -moz-transform: rotate(132deg);
      }
}
#header{
	z-index: 1000;
	width: 100%;
	height:30px;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-bottom: 10px;
background-color: #0B0B3B;
  background-image: -moz-linear-gradient(top, #0B173B, #0B0B3B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0B173B), to(#0B0B3B));
  background-image: -webkit-linear-gradient(top, #0B173B, #0B0B3B);
  background-image: -o-linear-gradient(top, #0B173B, #0B0B3B);
  background-image: linear-gradient(to bottom, #0B173B, #0B0B3B);
  background-repeat: repeat-x;
  .username{
  	width: 10%;
  	height:inherit;
  	float: right;
  	color: #fff;
  	text-align: center;
  	margin: 12px 0px 0 0;
  }
}
.main_content{
	position: absolute;
	width: 600px;
	height:400px;
	top:100px;
	left: 300px;
	background: #fff;
	 -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
overflow: fixed;
	.minipost{

	}
	.btn{
		float: right;
		margin-left: 10px;
	}
}
.main_content:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 13px;
}

.hright{
color:#fff;
position: absolute;
top:270px;
left: 1000px;
	-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
background-color: #00ACE5;
width: 40px;
height: 40px;
i{
	position: absolute;
	top:8px;
	right: 10px;
}
&:hover{

}
}
.hleft{
color:#fff;
position: absolute;
top:270px;
left: 150px;
background-color: #00ACE5;
	-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
width: 40px;
height: 40px;
i{
	position: absolute;
	top:8px;
	right: 13px;
}
&:hover{

}
}
.signup{
	cursor: pointer;
	position: absolute;
	right:30px;
background: #FFC63E url(bg.png) repeat-x;
font-size: 13px;
color: #302003;
font-weight: bold;
padding: 5px 10px 5px;
border: 1px solid #D18410;
float: left;
margin-top: 6px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
margin-right: 0px;
margin-left: 0px;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
text-transform: capitalize;
}
.signup:hover{
	background: #FFC63E;
}
.comments_container{
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
position: absolute;
top:600px;
left: 0px;
height: 100%;
width: 100%;
background: #F7F7F7;

}
#topit_logo{
	background-image:url('logo.png'); 
	position: absolute;
	top:5px;
	left: 10px;
	background-size: 50px 28px;
	background-position: left;
	color: white;
	width: 100px;
	height: 28px;
	background-repeat: no-repeat;
	p{
position: absolute;
top:5px;
right: 0px;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
font-size: 18px;
letter-spacing: 0.1em;
	}
}
.comments_header{
	position: absolute;
	width: 100%;
	height: 40px;
	top: 0px;
	left: 0px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  .title{
  	color:#868686;
  	margin:10px 10px 0 10px;
  	position: absolute;
  	font-size: 13px;
  	text-shadow: 0 2px 1px rgba(255,255,255,0.75);
  	.user{
  		color:#aabbff;
  	}
  }
  .tag{
	position: absolute;
  	font-size: 13px;
  	margin:10px 0 0 400px;
  	p{padding-left: 5px;}
  }
  .comments{
  	position: absolute;
  	font-size: 13px;
  	margin:10px 0 0 500px;
  	p{padding-left: 5px;}
  }
  .views{
  	position: absolute;
  	font-size: 13px;
  	margin:10px 0 0 600px;
  	p{padding-left: 5px;}
  }
}
/*login*/
.container_login{
	position: absolute;
	top:100px;
	left:430px;
	font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
}
.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: #fff;
}
.login p.submit {
  text-align: right;
}
 
.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
 
.login-help a {
  color:#2E64FE;
  text-decoration: none;
}
 
:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}
 
::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
 .post{
 	left: 600px;
 }
.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
 
.login p {
  margin: 20px 0 0;
}
 
.login p:first-child {
  margin-top: 0;
}
 
.login input[type=text], .login input[type=password] {
  width: 278px;
}
input,textarea {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}
input[type=text], input[type=password],textarea {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
textarea:focus{
 border-color: #25DF00 #28F000 #28F000;
 outline: 5px solid rgba(0,213,0,0.2);
 outline-offset: 0;
}
 
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}
 
input[type=submit] {
	position: relative;
	right:115px;
	top:15px;
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.alert{
  position: absolute;
  top:40px;
  left:0px;
  text-align: center;
  width:100%;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}
.alert-error{
	border-bottom: 2px solid #EE0000;
}
#error_explanation ul{
position: absolute;
right:50px;
top:200px;
}
.postit{
	left:80px;
	top:200px;
}

 .minipost_form{
 	position: absolute;
 	width: 600px;
 	font-size: 10px;
 	top:20px;
 	input[type='text']{
 		height: 20px;
 	}
 	span{
 		position: relative;
 		top:-5px;
 		float: right;
 		margin:0 100px 0px 0;
 		i{
 			position: relative;
 			width: 20px;
 			height: 20px;
 			padding-left:10px; 
 			cursor: pointer; 
 		}
 	}
 	textarea{
 		width: 469px;
 		max-width: 469px;
 	}
 input[type='file'] {
 	width: 80px;
 	float: left;
  position: absolute;
  top:30px;
 }
 p{
 	position: relative;
 	margin-left: 100px;
 }
 }
 .link_to_post{
 	top:35px;
 	left: 100px;
 	color: #000;
 	font-weight: bold;
 	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
 	font-size: 17px;
 	text-align: center;
 	vertical-align: middle;
position:"absolute";
width:200px;
height:'100px';
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
background-color:"#00ACE5";
 }
