<div id="header">
	<a id="topit_logo" href="/"><p>Topit</p></a>
<%if @btn==:login and !signed_in?%>
<a href="/signin"class="signup">Login</a>
<%elsif !signed_in?%>
<a href="/signup"class="signup">Sign up</a>
<%else%>
<div class="username"><%=current_user.name%><i class="icon-caret-down icon-white" style="padding-left:4px"></i></div>
<%end%>
</div>